# Ignore everything by default
*

# But allow directories (so recursion works)
!*/

# Allowlisted file types
!*.ipynb
!*.py
!*.sh
!*.json
!*.log
!*.txt
!*.md
!*.csv
!*.tsv
!*.r
!*.R
!*.Rmd
!*.rmd
!*.yml
!*.yaml
!*.xml
!*.cfg
!*.ini
!*.conf
!*.json
!*.dat
!*.png
!*.pdf
!*.svg
!*.tiff
!*.jpg
!*.jpeg
!*.gif
!*.nb
!*.pptx
!*.docx
!*.xlsx
!*.odp
!specMask*
!*.html

# Keep these metadata files tracked too
!.gitignore
!README.md
!.gitattributes
# Ignore the ppxf folder
ppxf/
Prepare/
Unihall/
# Ignore large files that exceed GitHub limits
extended/MAUVE_all_R.png
MAUVE/Rongjun_rFMR_Virgo_Mauve_Presentation.pdf
extended/MAUVE_all_R.tiff
# Ignore Doc folder
Doc/
EAS2026/VEVO Visa Details Check - RONGJUN HUANG.pdf
EAS2026/Zurich.pdf
EAS2026/TransactionSummary.pdf
EAS2026/Schengen_VISA_Application.pdf
EAS2026/Passport.pdf
EAS2026/Overview 001242469.pdf
EAS2026/Lausanne.pdf
EAS2026/Lausanne_booking.pdf
EAS2026/Lausanne – to Zürich HB.pdf
EAS2026/Itinerary-28454416.PDF
EAS2026/Heidelberg.pdf
EAS2026/Heidelberg Hbf – to Lausanne.pdf
EAS2026/Frankfurt(M) Flughafen Fernbf – to Heidelberg Hbf.pdf
EAS2026/Flights.png
EAS2026/Business-Visa-AUS_en.pdf
EAS2026/Invitation letter (2).pdf
EAS2026/RongjunHuang_visa.pdf
EAS2026/Absence without suspension EAS2026.pdf
# Ignore the codex folder
further/.planning
MAUVE/MAUVE Rongjun Zgas-Sigma_SFR paper/MAUVE_MUSE_Zgas_SigmaSFR
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism 2.md
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism 2.pdf
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism 3.md
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism 3.pdf
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism.md
MAUVE/20260606 Analytic Local Metallicity Models and the Carton 2015 Formalism.pdf
MAUVE/20260607 Total property in rMZR and rFMR.md
MAUVE/20260607 Total property in rMZR and rFMR.pdf

# ignore the RSWA folder
RSWA John Glover /

